<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bus Ticket Search</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<header>
    <nav>
        <div class="logo">BusTicket</div>
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#tickets">Tickets</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>
<section id="home" class="hero">
    <div class="search-container" id="app">
        <h1>Find Your Bus Ticket</h1>
        <form class="search-form" action="results.html" method="GET">
            <div class="trip-type">
                <label><input type="radio" name="trip" value="round-trip" v-model="tripType"> Round Trip</label>
                <label><input type="radio" name="trip" value="one-way" v-model="tripType"> One Way</label>
            </div>
            <div class="select-container">
                <select class="select-box" v-model="fromCity" @change="fetchDestinations" required>
                    <option value="">From</option>
                    <option v-for="city in city" :key="city.id" :value="city.id">{{ city.name }}</option>
                </select>
                <select class="select-box" v-model="toCity" required>
                    <option value="">To</option>
                    <option v-for="city in destinations" :key="city.id" :value="city.id">{{ city.name }}</option>
                </select>
            </div>
            <input type="date" name="departureDate" placeholder="Departure Date" required>
            <input type="date" name="returnDate" placeholder="Return Date" v-if="tripType === 'round-trip'">
            <button type="submit">Search</button>
        </form>

    </div>
</section>

<section id="tickets">
    <h2>Available Tickets</h2>
    <!-- Add ticket details here -->
</section>
<section class="highlights">
    <div class="container">
        <div class="highlight">
            <h3>Önceliğimiz Sağlık</h3>
            <p>
                Sizler ve çalışanlarımız için tedbirlerimizi alıyor, konforlu bir seyahat için tüm imkânlarımızı hizmetinize sunuyoruz.
            </p>
            <a href="#" class="btn highlight-btn">Temizlik sürecimiz</a>
        </div>
        <div class="highlight">
            <h3>Konforlu Seyahat</h3>
            <p>
                Tüm seferlerimiz ücretsiz wi-fi, host hizmeti, ikram çeşitleri ve daha fazlası ile sizleri bekliyor!
            </p>
            <a href="#" class="btn">Hizmetlerimizi incele</a>
        </div>
        <div class="highlight">
            <h3>Güvenli Seyahat</h3>
            <p>
                Seyahat öncesi, esnası ve sonrası kontrollerimiz düzenli olarak yapılmaktadır.
            </p>
            <a href="#" class="btn">Detaylı bilgi</a>
        </div>
        <div class="highlight">
            <h3>Kampanyalar</h3>
            <p>
                Avantajlı kampanyalarımızdan haberdar olmak ve fırsatı kaçırmamak için tıklayın!
            </p>
            <a href="#" class="btn">Kampanyaları İncele</a>
        </div>
    </div>
</section>


<section class="experience">
    <div class="container">
        <h2>Türkiye ve Avrupa’nın En İyi Rotalarını Kamil Koç ile Deneyimleyin</h2>
        <p>
            Türkiye’nin lider karayolu yolcu taşımacılığı şirketi, Avrupa’nın FlixBus’ı ile güçlerini birleştirerek, sizlere konforlu ve teknolojik açıdan gelişmiş, eşsiz bir seyahat deneyimi sunuyor. Kamil Koç'un 1926'dan beri Türkiye'deki köklü varlığı, FlixBus'ın Avrupa'daki geniş ulaşım ağıyla birleşince, seyahat imkanları artık sınır tanımıyor. Tek bir bilet ile dünyanın 40+ ülkesine seyahat edin! Ortaklığımız seyahat etme şeklinizde devrim yaratırken, sizlere akıllı ve sorunsuz bir seyahat deneyimi sunmaktadır. O halde, neden bekliyorsunuz? Hemen biletinizi alın ve bu muhteşem iş birliğinin avantajlarından yararlanın!
        </p>
        <h3>İnternetten Otobüs Bileti Satın Alın</h3>
        <p>
            Size otobüs biletlerinizi evinizin rahatlığında veya dışarıda hareket halindeyken satın alma lüksünü sunuyoruz. Platformumuz aynı zamanda fiyatları, sefer saatlerini ve güzergahları sorunsuz bir şekilde karşılaştırmanıza olanak tanır, böylece ihtiyaçlarınıza en uygun seçenekleri seçebilirsiniz.
        </p>
        <p>
            İnternet sitemiz ve mobil uygulamamız, bilet satın alma sürecinin kullanıcı dostu olmasını sağlayacak şekilde tasarlanmıştır. Otobüs biletinizi birkaç tıklamayla kolayca satın alabilir, zamandan ve enerjiden tasarruf edebilirsiniz.
        </p>
        <h3>Şehirler Arası Otobüs Denince Akla Önce Kamil Koç Gelir!</h3>
        <p>
            Eğer Türkiye’de ya da dünya genelinde seyahat etmek istiyorsanız, Kamil Koç olarak geniş sefer ağımızla aradığınız hizmeti size sunmak için yanınızdayız! Dünya çapında 400.000 otobüs hattı ile, seyahatiniz için mükemmel seçeneği kolayca bulabilirsiniz. Üstelik kolayca alabileceğiniz otobüs biletlerimiz ile birlikte istediğiniz yere, gerek iş gerek tatil amaçlı olsun kolay ve konforlu bir şekilde gidebilirsiniz.
        </p>
        <h3>Programınıza Uygun Otobüs Seferleri ve Tarifeleri</h3>
        <p>
            Sık düzenlenen otobüs seferleri, her programa uygun sefer tarifesi ve modern, konforlu otobüsleri sayesinde Kamil Koç ile seyahat etmek kolay ve sorunsuzdur. Geniş sefer ağımız 40+ ülkeyi ve 3.000 noktayı kapsamaktadır, bu da seyahatinizi planlamanızı ve Kamil Koç uygulamasını kullanarak internetten otobüs bileti almanızı kolaylaştırmaktadır. Ayrıca, otobüslerimizin çoğunda ücretsiz WiFi hizmetimizden yararlanabilir, gelişmiş otobüs takip sistemimizle yolculuğunuzu gerçek zamanlı olarak takip edebilirsiniz.
        </p>
        <h3>Kamil Koç Sefer Ağındaki En iyi Varış Noktalarını Keşfedin</h3>
        <p>
            Kamil Koç otobüslerinden birine binin ve Türkiye’deki en popüler şehirlerden görmek istediklerinizi ziyaret edin. Keşfetmek için İstanbul seyahati, hafta sonu hava değişikliği için Ankara seyahati, kültür ve tarihin derinliklerini görmek için İzmir seyahati veya gizli güzelliklerini görmek için Bursa seyahati planlıyorsanız, geniş sefer ağımız, Türkiye’nin vadettiği her şeyi deneyimlemeyi sizler için daha da kolaylaştırır.
        </p>
    </div>
</section>

<footer class="footer">
    <div class="container">
        <div class="footer-section">
            <h4>Şirket</h4>
            <ul>
                <li><a href="#">Hakkımızda</a></li>
                <li><a href="#">İletişim</a></li>
                <li><a href="#">Kariyer</a></li>
                <li><a href="#">Yatırımcı İlişkileri</a></li>
                <li><a href="#">Basın Bülteni</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Destek</h4>
            <ul>
                <li><a href="#">Yardım Merkezi</a></li>
                <li><a href="#">Sıkça Sorulan Sorular</a></li>
                <li><a href="#">Şikayet ve Öneri</a></li>
                <li><a href="#">Bilet İptali</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Sosyal Medya</h4>
            <ul class="social-media">
                <li><a href="#" class="fa-brands fa-facebook" aria-label="Facebook"></a></li>
                <li><a href="#" class="fa-brands fa-twitter" aria-label="Twitter"></a></li>
                <li><a href="#" class="fa-brands fa-instagram" aria-label="Instagram"></a></li>
                <li><a href="#" class="fa-brands fa-youtube" aria-label="YouTube"></a></li>
            </ul>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2024 BusTicket Türkiye. Tüm hakları saklıdır.</p>
        </div>
    </div>
</footer>


<script src="scripts.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            city: [],
            fromCity: '',
            toCity: '',
            destinations: [],
            tripType: 'round-trip'
        },
        created() {
            this.getAllCities();
        },
        methods: {
            getAllCities() {
                fetch('http://localhost:8080/api/cities')
                    .then(response => response.json())
                    .then(data => {
                        this.city = data;
                        console.log(this.city);
                    })
                    .catch(error => {
                        console.error('Error fetching cities:', error);
                    });
            },
            fetchDestinations() {
                if (this.fromCity) {
                    axios.get(`http://localhost:8080/api/routes/destinations/${this.fromCity}`)
                        .then(response => {
                            this.destinations = response.data;
                        })
                        .catch(error => {
                            console.error('Error fetching destinations:', error);
                        });
                } else {
                    this.destinations = [];
                }
            }
        }
    });
</script>
</body>
</html>
<style lang="scss">
    .from {
        width: 200px;
    }
</style>